[submodule "graph_algos/matlab_bgl"]
	path = graph_algos/matlab_bgl
	url = git://github.com/dgleich/matlab-bgl.git
[submodule "segmentation/boundaries--lim_CVPR_2013_sketchtokens"]
	path = segmentation/boundaries--lim_CVPR_2013_sketchtokens
	url = git://github.com/joelimlimit/SketchTokens.git
[submodule "toolboxes/vlfeat"]
	path = toolboxes/vlfeat
	url = git@bitbucket.org:ahmadh84/vlfeat.git
[submodule "segmentation/boundaries--isola_ECCV_2014_crispboundaries"]
	path = segmentation/boundaries--isola_ECCV_2014_crispboundaries
	url = git@github.com:phillipi/crisp-boundaries.git
[submodule "machine_learning/caffe"]
	path = machine_learning/caffe
	url = https://github.com/BVLC/caffe.git
[submodule "segmentation/segments--hariharan_ECCV_2014_detseg"]
	path = segmentation/segments--hariharan_ECCV_2014_detseg
	url = https://github.com/bharath272/sds_eccv2014.git
[submodule "segmentation/segments--hosang_arXiv_2015_proposalssurvey"]
	path = segmentation/segments--hosang_arXiv_2015_proposalssurvey
	url = https://github.com/hosang/detection-proposals.git
